/* COMMON
   ======================= */

/* ======================= */

/* HEADER
   ======================= */
header {
   background-color: black;
   color: white;
   /* TEST */
   padding: 15px;
}
/*    * logo
      -------------------- */
header .logo {
   color: red;
}
/*    -------------------- */

/* ======================= */


/* MAIN
   ======================= */

/*    * movie
      -------------------- */
.movie {
   background-color: lightcoral;
   padding: 10px;
   margin-right: 20px;
   width: 13%;
   margin-bottom: 20px;
}
/*    -------------------- */
.vote {
   color: yellow;
}
/* ======================= */


/* FOOTER
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */






/* TEMPLATE
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */