/* COMMON
   ======================= */
body {
   background-color: grey;
}
/* ======================= */

/* HEADER
   ======================= */
header {
   background-color: black;
   color: white;
   /* TEST */
   padding: 15px;
}
/*    * logo
      -------------------- */
header .logo {
   color: red;
   font-size: 1.3rem;
}
/*    -------------------- */

/* ======================= */


/* MAIN
   ======================= */
   .movie-list {
      width: 100%;
   }

/*    * movie
      -------------------- */
.movie {
   background-color: lightcoral;
   padding: 10px;
   margin-right: 20px;
   width: 250px;
   margin-bottom: 20px;
   position: relative;
   height: 400px;
   border: 2px solid white;
}
.movie .layover {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color: red;
   border: 2px solid white;

}
.movie .layover img {
   /* per ora le stretcho */
   height: 100%;
   width: 100%;
}
/*    -------------------- */
.flag {
   height: 25px;
   width: 50px;
}
.vote {
   color: yellow;
}
/* ======================= */


/* FOOTER
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */






/* TEMPLATE
   ======================= */

/*    * stuff
      -------------------- */

/*    -------------------- */

/* ======================= */