<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- axios version 0.21.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/my_frame.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- VUE CONTAINER -->
    <div id="root">
        <!-- HEADER -->
        <header class="flexer between center-cross">
            <!-- div.logo -->
            <div class="left-nav flexer center-cross">
                <img src="img/logo.png" alt="logo" class="logo">
                <ul class="list-inline flexer wrap">
                    <li><a href=# @click="result = resCopy">Home</a></li>
                    <li><a href=#>Serie TV</a></li>
                    <li><a href=#>Film</a></li>
                    <li><a href=#>Original</a></li>
                    <li><a href=#>Aggiornati di recente</a></li>
                    <li><a href=# @click="result = myList">La mia lista</a></li>
                </ul>
            </div>

            <!-- END div.logo -->

            <!-- div.search -->
            <div class="search text-right">
                <div>
                    <label for="search-movies"> <i class="fas fa-search"></i>Cerca</label>
                    <input id="search-movies" v-model="queryString" @keyup.enter="searchContents(queryString)"
                        type="text" placeholder="cerca">

                </div>

                <label for="select-gen">Seleziona un genere</label>
                <select name="select-gen" id="selected-gen" aria-label="seleziona un genere" v-model="selectedGen">
                    <option value="">All</option>
                    <optgroup label="Film">
                        <option value="All" default disabled hidden>Seleziona un genere</option>
                        <option v-for="gen in movieGenres" :value="gen">{{ gen }}</option>
                    </optgroup>
                    <optgroup label="Serie TV">
                        <option value="All" default disabled hidden>Seleziona un genere</option>
                        <option v-for="gen in tvGenres" :value="gen">{{ gen }}</option>
                    </optgroup>

                </select>
            </div>
            <!-- END div.search -->
        </header>
        <!-- END HEADER -->

        <!-- MAIN -->

        <main class="flexer col">
            <div v-for="(value, name) in result" v-if="value.length>0">
                <div class="sect-header flexer between"><span>{{types[name].name}}</span> <i class="fas fa-chevron-down" @click="types[name].collapsed=!types[name].collapsed"></i></div>
                <ul class="movie-list flexer center wrap" v-show="!types[name].collapsed">
                    <li v-for="(content, index) in value"
                    v-if="selectGen(content.genres)"  @mouseenter="selectedIndex = index" @mouseleave="selectedIndex = false" class="movie">
                    <ul class="movie-details">
                        <i class="fas fa-heart" @click="addToMyList(content, name)"
                        :class="{added: myList[name].includes(content)}"></i>
                        <li class="title">{{ content.title || content.name }}</li>
                        <li>
                            <span class="gradient-text"
                                :style="{  backgroundImage: `linear-gradient(to right, #dad61b ${content.vote_average*10}%, #fdfdfd ${(1-content.vote_average)*10}%)` }">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            {{content.vote_average}}
                        </li>
                        <li>
                            <h3>Cast</h3>
                            <ul>
                                <li v-for="actor in content.cast">{{ actor.name }}</li>
                            </ul>
                        </li>
                        <li>
                            <h3>Genere</h3>
                            <ul>
                                <li v-for="genre in content.genres">{{ genre }}</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Titolo Originale</h4>
                            <div class="flexer between">
                                <span>
                                    {{ content.original_title || content.original_name }}
                                </span>
                                <img class="flag" :src=`img/${getFlag(content.original_language)}` alt="">

                            </div>
                        </li>

                    </ul>
                    <div v-show="selectedIndex!==index" class="layover">
                        <img :src=`https://image.tmdb.org/t/p/w342/${content.poster_path}` alt="">
                    </div>               
                </li>
                </ul>
            </div>

        </main>
        <!-- END MAIN -->
    </div>
    <!-- END VUE CONTAINER -->

    <!-- vue.js last 2.* version -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- local script -->
    <script src="js/script.js"></script>
</body>

</html>